

/*page d'acceuil*/

/*recherche ville*/
.container_search_city{
    @include flex_row;   
    background-color: darken($colour-bgc,10%);
    border-top:solid 2px darken($colour-bgc,20%);
    padding:10px 0px; 
}
/*liste retaurant*/
.conteneur_liste_restaurant{
    @include flex_column;   
    align-items: center;   
    padding: 0px 10px 25px 10px;
    /*version tablette*/
    @media screen and (min-width:768px){
        @include flex_row;  
        flex-wrap: wrap; 
        align-items: center;
        justify-content: space-evenly;
        padding:10px; 
    } 
}



/*page restaurants*/


/*titre restaurant et coeur*/ et /*conteneur descriptif_prix*/
.menu-header,.subtittle_plat{
    @include flex_row;
    justify-content: space-between;
}


.entree_card,.plat_card,.dessert_card{
    @include flex_column;
    align-items: center;
    width: 100%;
}
/*info bouton choix plats*/
.container_info{
    @include flex_column;
    flex-wrap: wrap;
    margin:10px 0px;
    width: 100%;
    padding:0px 10px;
}  


/*tablete et pc*/
@media screen and (min-width:991px)  {
.container_entree,.container_plat{
    @include flex_column;
    width: 100%;
    margin: 15px 5px;
}
.container_choix_plat{
    @include flex_row;
}
.btn_choix_plats{
    margin:10px;
}


}
