@charset "UTF-8";
/*---sommaire----
    couleur
    animation
    media queries*/
/*couleur*/
/*animation*/
/*media queries*/
/*tablette*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&family=Shrikhand&display=swap");
body {
  color: #000000;
  width: 100%;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*----sommaire----
    -police:
        logo, h1,h2,h3
    -mise en page:
        h1,h2
        p
    -page 2 à 6:
        menu-title
        tittle_plat
             */
/*Polices : Logo et titres: Shrikhand, Texte: Roboto */
/*.logo, h1,h2,h3{
    font-family:'Shrikhand', cursive,;
    }*/
h1 {
  font-size: 1.5em;
  text-align: center;
}

h2 {
  text-align: left;
  padding: 40px 15px 10px 5px;
  margin: 0px;
  width: 100%;
  font-size: 1em;
}

p {
  margin: 0px;
}

/*----page 2 à 6----*/
/*titre des restaurants*/
.menu-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-family: "Shrikhand", cursive;
}

/*----sommaire----
    -primary_btn: couleur dégradé, eclaircissement au survol, et changement taille version tablette
    -secondary_btn : bouton p. acceuil fonctionnement, au survol: couleur legerement violette
    -card_footer_button_heart : bouton j'aime

    -btn_choix_plats: pour p2 à 5: restaurant
        *animation apparition
        *ombrage + important au survol
*/
.primary_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 100%;
  cursor: pointer;
  box-shadow: 0px 2px 3px gray;
  border: none;
  background: linear-gradient(#FF79DA, 55%, #9356DC);
  color: white;
  width: 65%;
  padding: 15px;
  margin: 30px auto 40px;
  position: relative;
  z-index: 4;
  /*au survol:s'eclairci*/
  /*version tablette*/
}
.primary_btn:hover {
  box-shadow: 0px 4px 6px gray;
}
.primary_btn:hover {
  background: linear-gradient(#ff93e1, 55%, #a16be0);
}
@media screen and (min-width:991px) {
  .primary_btn {
    width: 40%;
    height: 4em;
  }
}

.secondary_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 100%;
  cursor: pointer;
  box-shadow: 0px 2px 3px gray;
  background: #e7e4e4;
  border: none;
  width: 100%;
  justify-content: flex-start;
  padding: 10px;
  margin: 0px;
  transform: translateX(-10px);
}
.secondary_btn:hover {
  box-shadow: 0px 4px 6px gray;
}
.secondary_btn:hover {
  background-color: #e4d5f6;
}

.card_footer_button_heart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
  height: 2em;
  width: 2em;
  padding: 0px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}

/*.card_footer_button_heart::before{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    opacity: 0;
    content: "";
    background:linear-gradient($colour_secondary,55%,$colour_primary);
    transition:.5s;
} */
/*----page 2 à 6----*/
.btn_choix_plats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 3px gray;
  border-radius: 12px;
  width: 100%;
  height: 6em;
  padding: 0px;
  margin: 10px;
  border: none;
  cursor: pointer;
  animation: apparition_btn 0.6s linear both;
  transform: scale(0);
}
.btn_choix_plats:hover {
  box-shadow: 0px 4px 6px gray;
}

/*----sommaire----
    -page d'acceuil
        header
        header_logo
        barre de recherche ville

    -page restaurant
        header_tittle
        header_arrow
        img_fond       */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
  padding-bottom: 15px;
}

.header_logo {
  width: 40%;
  margin-bottom: 10px;
}

/*--page acceuil--*/
/*--page 2 à 5--*/
.header_tittle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.header_arrow {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 1.2em;
  color: #000000;
}

.img_fond {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  transform: translateY(15%);
}

/*----sommaire----
    footer_container
    footer_logo
    nav_footer
    footer_lien
    footer_icone */
/*footer iddentique aux 5 pages*/
.footer_container {
  background-color: #292828;
  padding-left: 10px;
  /*tablette et pc*/
}
@media screen and (min-width: 768px) {
  .footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
  }
}

.footer_logo {
  width: 25%;
  padding: 10px;
}

.nav_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.footer_lien {
  color: white;
  text-decoration: none;
  padding: 5px 0px;
}

.footer_icone {
  padding-right: 15px;
}

/*tablette et pc*/
@media screen and (min-width: 768px) {
  .nav_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
  }
}
/*----sommaire----
    lien vers autres pages
        card_lien

*/
.card_lien {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/*----sommaire----
  page acceuil:
    - loading spinner : page d'acceuil : 3s      
    -disparition/ apparition de la page lors du chargement :  

  page restaurant:    
    -apparition plats: @keyframes apparition_btn, apparition plat (1à9)  
    -barre de validation des plats : au survol: partie verte +icone validation en rotation
*/
/*----loading spinner----*/
.spin-container {
  text-align: center;
  height: 12em;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 180px;
  left: 15%;
  animation: apparition_loading 3s 0s;
  width: 70%;
}

.spin {
  border: 4px solid #9356DC;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 3s 150ms cubic-bezier(0.26, 1.36, 0.74, -0.29);
}

#loader2 {
  border: 3px solid #FF79DA;
  width: 220px;
  height: 220px;
  position: relative;
  top: -216px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 3s 150ms cubic-bezier(0.26, 1.36, 0.74, -0.29);
}

#loader3 {
  border: 4px solid #99E2D0;
  width: 240px;
  height: 240px;
  position: relative;
  top: -452px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 3s 150ms cubic-bezier(0.26, 1.36, 0.74, -0.29);
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes apparition_loading {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
#text {
  color: #000000;
  font-size: 20px;
  position: relative;
  top: -590px;
}

.loading_logo {
  width: 6em;
}

/*----apparition/disparition page au chargement----*/
.header_pacceuil, .main_pacceuil, .footer_pacceuil {
  z-index: 2;
  animation: apparition_body 4s;
}

@keyframes apparition_body {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 0.6;
  }
  95% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/*----apparition plats----*/
@keyframes apparition_btn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.apparition_plat_1 {
  animation-delay: 0s;
}

.apparition_plat_2 {
  animation-delay: 0.1s;
}

.apparition_plat_3 {
  animation-delay: 0.2s;
}

.apparition_plat_4 {
  animation-delay: 0.3s;
}

.apparition_plat_5 {
  animation-delay: 0.4s;
}

.apparition_plat_6 {
  animation-delay: 0.5s;
}

.apparition_plat_7 {
  animation-delay: 0.6s;
}

.apparition_plat_8 {
  animation-delay: 0.7s;
}

.apparition_plat_9 {
  animation-delay: 0.8s;
}

.apparition_plat_10 {
  animation-delay: 1s;
}

/*barre de validation plat*/
@keyframes rotation_icone {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}
.btn_choix_plats {
  transition: all 1s;
}
.btn_choix_plats:hover .choix_plat_confirmation {
  transition: ease-in-out 1s;
  padding: 0px;
  margin-right: 0px !important;
  opacity: 1;
}
.btn_choix_plats:hover .choix_plat_confirmation_icone {
  transform: rotate(0);
}

/*remplissage coeur*/
@keyframes apparition_coeur {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*titre restaurant et coeur*/
et .menu-header,
.subtittle_plat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.entree_card, .plat_card, .dessert_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
}

/*tablete et pc*/
@media screen and (min-width: 991px) {
  .container_entree, .container_plat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 15px 5px;
  }

  .container_choix_plat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .btn_choix_plats {
    margin: 10px;
  }
}
.fond_gris_header_horslogo {
  background-color: #e7e4e4;
  width: 100%;
}

.header_subtittle {
  text-align: center;
  margin: 0px;
}

/*rechercher ville*/
.container_search_city {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #cfc9c9;
  border-top: solid 2px #b7aeae;
  padding: 10px 0px;
}

.fa-map-marker-alt {
  height: 100%;
  width: 20px;
  color: black;
  transform: translateX(15px);
}

.recherche_ville {
  text-align: center;
  background-color: #cfc9c9;
  border: none;
  height: 2em;
}

/*fonctionnement*/
.etape {
  padding: 5px 0px;
}

ol {
  list-style: none;
  counter-reset: li;
  padding: 0px;
}

li::before {
  content: counter(li);
  color: white;
  background-color: #9356DC;
  border-radius: 20px;
  padding: 8px;
  margin: 5px 0px 5px 5px;
  height: 8px;
  width: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  Z-index: 2;
}

li {
  counter-increment: li;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icone {
  padding: 10px 15px 10px 20px;
}

/*restaurant*/
.restaurant {
  background-color: #e7e4e4;
}

.conteneur_liste_restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
  padding: 0px 10px 25px 10px;
}

.restaurant_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 2px 3px gray;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 12em;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  z-index: 1;
}
.restaurant_card:hover {
  box-shadow: 0px 4px 6px gray;
}

.image_card {
  display: flex;
  width: 100%;
  max-height: 65%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.card_badge {
  background-color: #99E2D0;
  color: #076b07;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10;
}

.card_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
}

.card_footer_descriptif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.icone_coeur {
  opacity: 1;
  font-size: 1.4em;
  transition: 1s;
  z-index: 2;
}
.icone_coeur:hover {
  opacity: 0;
}

.icone_coeur_after {
  opacity: 0;
  font-size: 1.4em;
  position: absolute;
  color: linear-gradient(#FF79DA, 55%, #9356DC);
  transition: 0.5s;
  z-index: 1;
}
.icone_coeur_after:hover {
  z-index: 4;
  opacity: 1;
  animation: apparition_coeur 0.5s 0s ease-in-out both;
}

.card_footer_title, .card_footer_subtitle {
  margin: 0px;
}

.card_footer_title {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 0px 5px 5px;
}

.card_footer_subtitle {
  font-size: 0.9em;
  padding: 0px 0px 10px 5px;
}

/*TABLETTE et pc*/
@media screen and (min-width: 768px) {
  .header_logo {
    width: 40%;
  }

  header {
    margin: auto;
  }

  .fond_gris_header_horslogo {
    background-color: white;
  }

  .container_search_city {
    padding: 10px 0px;
  }

  .fonctionnement_title {
    text-align: center;
    font-size: 1.2em;
  }

  .secondary_btn {
    width: 33%;
  }

  .restaurant_title {
    font-size: 1.2em;
    padding-left: 65px;
  }

  .conteneur_liste_restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }

  .restaurant {
    border-radius: 10px 10px 0px 0px;
  }

  .restaurant_card {
    width: 40%;
    height: 14em;
    margin: 20px;
  }
}
.menu {
  background-color: #e7e4e4;
  padding: 10px;
  border-radius: 30px 30px 0px 0px;
  Z-index: 1;
  position: relative;
}

.coeur_restau {
  padding-right: 14px;
  font-size: 1.2em;
}

.categorie_plat {
  border-bottom: solid 2px #99E2D0;
  width: 40px;
}

/*titre plats*/
.tittle_plat {
  text-align: left;
  padding-bottom: 5px;
  font-weight: bolder;
  font-size: 1.2em;
}

.tittle_plat, .subtittle_plat {
  width: 100%;
  text-align: left;
  padding-bottom: 5px;
}

.price_plat {
  padding-right: 5px;
}

.choix_plat_confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 75px;
  height: 100%;
  margin-right: -75px;
  border-radius: 0px 12px 12px 0px;
  opacity: 0%;
}

.icone_check {
  font-size: 1.6em;
  color: #10392f;
}

.choix_plat_confirmation_icone {
  transform: rotate(180deg);
  transition: transform 1s 150ms;
}

.container_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px;
  width: 100%;
  padding: 0px 10px;
}

/*# sourceMappingURL=style.css.map */
