.primary_btn{
    @include btn;
    background:linear-gradient($colour_secondary,55%,$colour_primary);
    color:white;
    width: 60%;
    padding:10px;
    margin:20px auto; 
    z-index: 1;
/*au survol:s'eclairci*/
    &:hover{
        background:linear-gradient(lighten($colour_secondary,5%),55%,lighten($colour_primary,5%));
        }
        @media #{$screen-lm-min}{      
        width:40%;
    }	

    }

.secondary_btn{      
    @include btn;  
    background: $colour_bgc;   
    border:none;  
    width: 100%;
    justify-content: flex-start;
    padding:5px;
    margin:0px;    
    transform:translateX(-10px);     
    }

    

/*----page 2 à 6----*/
.btn_choix_plats{
    @include flex_row;         
    border-radius: 12px;
    width: 100%;
    height: 5em;   
    padding:0px;
    margin:10px;
    
    cursor: pointer;
    
}

/*titre plats*/
.tittle_plat{
   text-align: left;
   padding-bottom: 5px;
   font-weight: bolder;
   font-size: 1.2em;    
   }
.tittle_plat,.subtittle_plat{
    width: 100%;
    text-align: left;
    padding-bottom: 5px;
    }




